$color-primary: #063C6D;
$menu-font-size: 14px;
$menu-font-weight: 400;
$menu-color: #e6d7d7;
$menu-text-transform: capitalize;
$menu-padding: 8px 15px;

 $hover-menu-color: #fff;
 $hover-menu-bg-color: #225f98;