$img-border-color: #f5f5f5;
$color-primary: #063C6D;
$color-dark-white: #FCFAFA;

.#{$prefix}-news-section{
    background-color: $color-dark-white;
    
    .wrapper{
        
        @include media(sm){
            padding-bottom: 3.125rem;
            padding-left: 2.5rem;
        }
       
        .#{$prefix}-news-content{
            padding: 4.375rem 0;
            @include media(sm){
                padding: 0 0 1.875rem 0;
            }
         
        }
    }
} 

.#{$prefix}-news-title{
    h2{
        font-size: 1.25rem;
        line-height: 1;
        margin-bottom: 0.8rem; 
    } 
}
.#{$prefix}-news-image{
    img{
        border: 1px solid $img-border-color;
    }
}
.#{$prefix}-news-date{
    color: $color-primary;  
    font-size: 1rem;
    font-weight: 600;
    a{
        color: $color-primary; 
        padding-right: 5px;
    } 
  
}
.#{$prefix}-news-desc{
    p{
        margin-top: 1.875rem;/*35px*/
        margin-bottom: 0;
    }
}
.#{$prefix}-news-link{
    a{
        margin-top: 1.875rem;
    }
}